
body{
  margin: 0;
  border: solid;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url("./images/start2/Background.jpg");
}
#gameTitleAndTop {
background-image: url("./images/start2/Background.jpg");
height: 300px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

.gameTitle img{
width: 800px;
}

#gameAndInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 900px;
}


#scoreBoard{
  background-color: white;
  background-repeat: no-repeat;
  height: 1000px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black solid 30px;
}

#displayJuego{
  width: 850px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  position: center;
  border: black solid 30px;
}


#my-canvas {
  margin: 0;
  user-select: none;
}

#scoreBoard .info {
  font-size: 200px;
  color: black; 
  font-family: sans-serif;
  font-weight: 500;
}

#instrucciones img {
  height: 300px;
  width: 300px;
  text-align: center;
  padding-left: 50px;
}

#instrucciones p1 {
  font-size: 25px;
  color: black; 
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  padding: 40px;

}
#instrucciones p2 {
  font-size: 30px;
  color: black; 
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  padding-top: 40px;
  text-align: center;

}

#instrucciones{
  margin: 0;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  height: 1000px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: black solid 30px;
}

.info img{
  margin-right: 0;
  padding: 25px;
}



.infoA{
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white; 
  padding-left: 50px;
}

.infoA img{
  margin-right: 0px;
  padding: 25px;
  width: 150px
}

.botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 800px;
  align-self: center;
}

#start-button{
color: black;
background-color: darkorange;
width: 150px;
height: 50px;
border-radius: 20px;
font-size: 20px;
font-weight: bold;
}

#music-button{
  color: black;
  background-color: darkorange;
width: 170px;
height: 50px;
border-radius: 20px;
font-size: 20px;
font-weight: bold;
}
